
    .form-container{
        margin: 50px;
        max-width: 720px;
        border: 1px solid red;
    }
    .form-header{
        padding: 15px;
    }
    .form-title{
        font-weight: bold;
        font-size: 1.4em;
        text-align: center;
    }
    .webcam-container{
        display: block;
    }

    .webcam{
        margin: auto;
        border: 1px solid blue;
        display: block;
    }
   
    .canvas-container{
        border: 1px solid red;
        overflow: hidden;
        margin-bottom: 10px;
    }

    @media only screen and (max-width: 480px) {
        .form-container{
            /* border: 1px solid rgb(22, 31, 112); */
            margin: 0;
            max-width: 100%;
            border: 1px solid rgb(29, 7, 126);
        }

        .form-body{
            padding: 5px;
        }

        .canvas-container{
            margin-bottom: 0;
        }

        .section{
            margin: 0;
        }
    }
